// scss/_footer.scss

footer {
    background-color: $color-footer-fondo;
    color: $color-footer-texto;
    text-align: center;
    padding: $padding-base;
    font-size: 0.9em;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 50px;

    p {
        color: $color-footer-texto-suave;
        margin-bottom: 10px;
    }

    .social-icons {
        display: flex;
        justify-content: center;
        gap: $padding-base;
        margin-top: 15px;
        margin-bottom: 5px;

        .social-icon { // Anidado
            color: $color-primario;
            font-size: 2em;
            transition: color $transicion-larga, transform $transicion-larga;

            &:hover {
                color: $color-social-hover;
                transform: scale(1.1);
            }
        }
    }
}